name: Model Egitim Robotu (CT)
on:
  # 1. Manuel Buton (Yine kals覺n)
  workflow_dispatch:

  # 2. ESK襤 YNTEM: Push (Bunu tutabilirsin, sen elle y羹kleyince 癟al覺覺r)
  push:
    paths:
      - 'train.py'
      - 'data.csv'

  # 3. YEN襤 YNTEM: Dier Robot 襤ini Bitirince al覺 (Zincirleme)
  workflow_run:
    workflows: ["Gunluk Veri Ureticisi (Cron Job)"] # Buraya daily_schedule.yml i癟indeki "name:" neyse onu tam yazmal覺s覺n!
    types:
      - completed

jobs:
  train-and-save:
    runs-on: ubuntu-latest
    
    # Robota yazma izni veriyoruz
    permissions:
      contents: write

    steps:
    # 1. Kodlar覺 ek
    - name: Kodlari Getir
      uses: actions/checkout@v3

    # 2. Python Kur
    - name: Python Kurulumu
      uses: actions/setup-python@v4
      with:
        python-version: "3.9"

    # 3. K羹t羹phaneleri Y羹kle
    - name: Gereklilikleri Yukle
      run: |
        pip install --upgrade pip
        pip install -r requirements.txt

    # 4. MODEL襤 E襤T (Buras覺 Show K覺sm覺)
    - name: Modeli Egit
      run: python train.py
      # Bu komut 癟al覺t覺覺nda 'diabetes_model.pkl' dosyas覺 yenilenir.

    # 5. Yeni Modeli Kaydet ve GitHub'a G繹nder
    - name: Yeni Modeli Commit ve Push Yap
      run: |
        git config --global user.name "GitHub Action Robotu"
        git config --global user.email "robot@github.com"
        
        # Deiiklik var m覺 kontrol et
        git add diabetes_model.pkl
        
        # Eer model deimediyse hata verme, devam et
        git commit -m " Robot: Yeni model eitildi ve g羹ncellendi" || echo "Model deimedi, commit at覺lmad覺."
        
        git push

    # 6. Render'覺 Tetikle (Zile Basma 襤lemi)
    - name: Render Deploy Tetikle
      # Sadece commit at覺ld覺ysa 癟al覺s覺n (Hata varsa bouna deploy etmesin)
      if: success() 
      run: curl "${{ secrets.RENDER_DEPLOY_HOOK }}"  